<form (ngSubmit)="onSubmit()">
  <input type="text" class="form-control" name="text" required [(ngModel)]="todo">
  {{todo}}
  <button type="submit">Add</button>
</form>
<ul *ngFor="let todo of todos">
  <li>
    <div>
      <span>{{todo.text}}</span>
      <button (click)="delete(todo)">
        <i class="fa fa-times"></i>
      </button>
      <span *ngIf="todo.completed; else completeBtn"><i class="fa fa-check"></i></span>
      <ng-template #completeBtn>
        <button (click)="complete(todo)">Mark as completed</button>
      </ng-template>
    </div>
  </li>
</ul>
